.Pervnext {
  margin-top: 50px;
}

.Pervnext-perv, .Pervnext-next {
  padding: 5px 2%;
  border: 1px green solid;
  background-color: rgb(196, 238, 196);
  font-style: italic;
  cursor: pointer;
}

.Pervnext-perv:hover, .Pervnext-next:hover {
  background-color: rgb(11, 65, 11);
  color: white;
}

.null {
  pointer-events: none;
}